@model Models.Framework.HoiThao

<style>
    .titleColor {
        color: black;
    }

    .statusColor {
        color: white;
        background-color: forestgreen;
    }

    .headerColor {
        color: black;
        font-size: larger;
    }

    .customPanel{
        height:600px;
    }
</style>
<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4 customPanel">
            <div class="row m-sm-2">
                <b class="headerColor">Thông tin hội thảo</b>
            </div>
            <div class="row m-sm-4">
                <div class="col-sm-2">
                    <b class="titleColor">Tên sự kiện:</b>
                </div>
                <div class="col-xl-6">
                    @Model.TenHoiThao
                </div>
            </div>
            <div class="row m-sm-4">
                <div class="col-sm-2">
                    <b class="titleColor">Ngày diễn ra:</b>
                </div>
                <div class="col-xl-6">

                    @Model.NgayDienRa.ToString("dd/MMM/yyyy") - @Model.NgayKetThuc.ToString("dd/MMM/yyyy")
                </div>
            </div>

            <div class="row m-sm-4">
                <div class="col-sm-2">
                    <b class="titleColor">Nơi diễn ra:</b>
                </div>
                <div class="col-xl-6">
                    @Model.NoiDienRa
                </div>
            </div>
            <div class="row m-sm-4">
                <div class="col-sm-2">
                    <b class="titleColor">Trạng thái:</b>
                </div>
                <div class="col-sm-4">
                    <span class="statusColor">@Model.TrangThaiToChuc</span>
                </div>
            </div>
            <hr />
        </div>

    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4 customPanel">
            <div class="row m-sm-2">
                <b class="headerColor">Chi tiết hội thảo</b>
            </div>
            <div class="row m-sm-4">
                <div class="col-sm-2">
                    <b class="titleColor">Số nhà tài trợ:</b>
                </div>
                <div class="col-xl-6">
                   0
                </div>
            </div>
            <div class="row m-sm-4">
                <div class="col-sm-2">
                    <b class="titleColor">Số diễn giả:</b>
                </div>
                <div class="col-xl-6">
                    @ViewBag.DSSpeaker 

                </div>
            </div>
            <hr />
            <div class="row m-sm-4">
                <div class="col-sm-2">
                    <b class="titleColor">Tổng Số vé:</b>
                </div>
                <div class="col-xl-6">
                    1000
                </div>
            </div>
            <div class="row m-sm-4">
                <div class="col-sm-2">
                    <b class="titleColor">Số vé đã bán:</b>
                </div>
                <div class="col-sm-4">
                    <span class="statusColor">10</span>
                </div>
            </div>
            <hr />
        </div>

    </div>
</div>