@model PagedList.IPagedList<Models.Framework.HoiThao>
@using PagedList.Mvc;

<div class="table-responsive"  id="replace">
    <table class="table table-bordered" width="100%" cellspacing="0">
        <thead class="thead-dark">
            <tr>
                <th>#</th>

                <th>STT</th>

                <th>Tên Hội thảo</th>
                <th>Ngày diễn ra </th>
                <th>Nơi diễn ra</th>
                <th>Created by</th>
                <th>Created date</th>
                <th>Modified By</th>
                <th>Modified Date</th>
                <th>Status</th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>#</th>

                <th>STT</th>

                <th>Tên Hội thảo</th>
                <th>Ngày diễn ra </th>
                <th>Nơi diễn ra</th>
                <th>Created by</th>
                <th>Created date</th>
                <th>Modified By</th>
                <th>Modified Date</th>
                <th>Status</th>
            </tr>
        </tfoot>
        <tbody>
            @{ int Stt = 1;}
            @foreach (var item in Model)
            {


                <tr role="row" class="odd" id="row_@item.ID">
                    <td>

                        <a href="/Admin/Topic/Create/@item.ID">Sửa</a>

                    </td>
                    <td>
                        @Stt
                    </td>

                    <td>@item.TenHoiThao</td>
                    <td>@item.NgayDienRa.ToString("dd/MMM/yyyy")</td>
                    <td>@item.NoiDienRa</td>
                    <td>@item.CreatedBy</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.ModifiedBy</td>
                    <td>@item.ModifiedDate</td>
                    <td>
                        @{
                            string status = "a";
                            if (item.Status == false)
                            {
                                status = "Chưa hiển thị";
                            }
                            else
                            {
                                status = "Đang hiển thị";
                            }


                        }
                        @status
                    </td>
                </tr>
                Stt++;

            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchingString = ViewBag.SearchingString }))
</div>
