@model PagedList.IPagedList<Models.Framework.HoiThao>
@using PagedList.Mvc;

@section jsFooter{
    <script src="~/Assets/Admin/js/controller/hoinghiController.js"></script>

}

<div id="myModal" class="modal fade " role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1> header</h1>
            </div>
            <div class="modal-body">
                <body id="page-top">

                    <!-- Page Wrapper -->
                    <div id="wrapper">

                        <!-- Content Wrapper -->
                        <div id="content-wrapper" class="d-flex flex-column">

                            <!-- Main Content -->
                            <div id="content">


                                <!-- Begin Page Content -->
                                <div class="container-fluid">

                                    <!-- Page Heading -->
                                    <h1 class="h3 mb-2 text-gray-800">Thông tin Hội thảo</h1>
                                    <style>
                                        .blueText {
                                            color: royalblue;
                                        }

                                        .resizeTextBox {
                                            width: 400px;
                                            height: 32px;
                                        }
                                    </style>
                                    @using (Ajax.BeginForm("SearchParameter", "Topic", new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        UpdateTargetId = "replace",
                                        InsertionMode = InsertionMode.Replace
                                    }))
                                    {


                                        <div class="card border-left-primary">
                                            <div class="card-body">
                                                <div class="row m-xl-4">
                                                    <div class="col-md-1">
                                                        <b class="blueText">Tên hội thảo</b>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input class="resizeTextBox" #searchText type="text" value="@ViewBag.tenHoiThao" name="tenHoiThao" placeholder="Nhập tên hội thảo" />
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <b class="blueText">Ngày diễn ra</b>
                                                        <input #seachByName type="date" value="@ViewBag.ngayDienRa" name="ngayDienRa" />
                                                    </div>

                                                </div>
                                                <div class="row m-xl-4">
                                                    <div class="col-md-1">
                                                        <b class="blueText">Nơi diễn ra</b>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input class="resizeTextBox" #searchText type="text" value="@ViewBag.noiDienRa" name="noiDienRa" placeholder="Nhập nơi diễn ra" />
                                                    </div>


                                                </div>
                                                <div class="row m-xl-4">
                                                    <div class="col-md-2">
                                                        <button class="btn btn-facebook" type="submit">Search</button>
                                                    </div>

                                                </div>
                                                <hr />


                                            </div>
                                        </div>




                                        <br />

                                        <!-- DataTales Example -->
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">Hội thảo</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive" id="replace">
                                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th>#</th>

                                                                <th>STT</th>

                                                                <th>Tên Hội thảo</th>
                                                                <th>Ngày diễn ra </th>
                                                                <th>Nơi diễn ra</th>
                                                                <th>Created by</th>
                                                                <th>Created date</th>
                                                                <th>Modified By</th>
                                                                <th>Modified Date</th>
                                                                <th>Status</th>

                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <th>#</th>

                                                                <th>STT</th>

                                                                <th>Tên Hội thảo</th>
                                                                <th>Ngày diễn ra </th>
                                                                <th>Nơi diễn ra</th>
                                                                <th>Created by</th>
                                                                <th>Created date</th>
                                                                <th>Modified By</th>
                                                                <th>Modified Date</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </tfoot>
                                                        <tbody>
                                                            @{ int Stt = 1;}
                                                            @foreach (var item in Model)
                                                            {


                                                                <tr role="row" class="odd" id="row_@item.ID">
                                                                    <td>

                                                                        <a href="/Admin/Topic/Create/@item.ID">Sửa</a>

                                                                    </td>
                                                                    <td>
                                                                        @Stt
                                                                    </td>

                                                                    <td>@item.TenHoiThao</td>
                                                                    <td>@item.NgayDienRa.ToString("dd/MMM/yyyy")</td>
                                                                    <td>@item.NoiDienRa</td>
                                                                    <td>@item.CreatedBy</td>
                                                                    <td>@item.CreatedDate</td>
                                                                    <td>@item.ModifiedBy</td>
                                                                    <td>@item.ModifiedDate</td>
                                                                    <td>
                                                                        @{
                                                                            string status = "a";
                                                                            if (item.Status == false)
                                                                            {
                                                                                status = "Chưa hiển thị";
                                                                            }
                                                                            else
                                                                            {
                                                                                status = "Đang hiển thị";
                                                                            }


                                                                        }
                                                                        @status
                                                                    </td>
                                                                </tr>
                                                                Stt++;

                                                            }
                                                        </tbody>
                                                    </table>
                                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchingString = ViewBag.SearchingString }))
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- /.container-fluid -->

                            </div>
                            <!-- End of Main Content -->
                            }
                        </div>
                        <!-- End of Content Wrapper -->
                    </div>
                    <!-- End of Page Wrapper -->
                    <!-- Scroll to Top Button-->
                    <a class="scroll-to-top rounded" href="#page-top">
                        <i class="fas fa-angle-up"></i>
                    </a>

                    <!-- Logout Modal-->
                    @*<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-primary" href="login.html">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>*@


                </body>

            </div>
            <div class="modal-footer">
                <h5> footer</h5>
            </div>
        </div>
    </div>
</div>