@model List<Models.Entities.SlideForIndex>

<!-- Home -->

<div class="home">

    <!-- Home Slider -->
    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">

            
            @foreach (var item in Model)
            {
                <!-- Slide -->
                <div class="slide">
                    <div class="background_image" style="background-image:url(@item.Image)"></div>
                    <div class="home_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_content">
                                        <div class="home_title">
                                            <h1>
                                                <span>@item.TenHoiThao</span>
                                                @*<span>Marketing</span>
                                            <span>Conference</span>*@
                                            </h1>
                                        </div>
                                        <div class="home_info_container">
                                            <div class="home_info">
                                                <ul class="d-flex flex-row align-items-center justify-content-start">
                                                    <li>@item.NgayDienRa.Value.ToString(string.Format("dd/MMM/yyyy"))-@item.NgayKetThuc.ToString(string.Format("dd/MMM/yyyy"))</li>
                                                    <li>@item.NoiDienRa</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="button button_1 home_button"><a href="#"><span>get tickets<img src="~/Assets/Client/images/arrow_2.png" alt=""></span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            }


        </div>


    </div>

    <!-- Home Slider Dots -->
    <div class="home_slider_dots_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_slider_dots">
                        <ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-start justify-content-start">
                            @{ int countValue = 0;}
                            @foreach (var item in Model)
                            {
                                countValue++;
                                if (item.ID == Model.First().ID)
                                {
                                    <li class="home_slider_custom_dot active">0 @countValue.</li>
                                }
                                else
                                {
                                    <li class="home_slider_custom_dot">0 @countValue.</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>