@model List<Models.Framework.Topic>

<!-- Tabs Section -->

<div class="tabs_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle">see what's all about</div>
                    <div class="section_title"><h1>The Topics</h1></div>
                </div>
                <div class="tabs_container">
                    <div class="tabs d-flex flex-row align-items-center justify-content-start flex-wrap">

                        @foreach (var item in Model)
                        {
                            @*<div class="tab active">  01. Marketing Intro</div>*@
                            if (@item.ID == Model.First().ID)
                            {
                                <div class="tab active">@item.TopicMenu</div>
                            }
                            else
                            {
                                <div class="tab"> @item.TopicMenu </div>
                            }


                        }
                    </div>

                    <div class="tab_panels">

                        @foreach (var item in Model)
                        {
                            if (item.ID == Model.First().ID)
                            {
                                <div class="tab_panel active">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="tab_panel_content">
                                                <div class="tab_title"><h3>@item.ChuDe</h3></div>
                                                <div class="tab_text">
                                                    <p>@Html.Raw(@item.Content)</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 tab_col">
                                            <div class="tab_panel_image"><img src="@item.Image" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="tab_panel">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="tab_panel_content">
                                                <div class="tab_title"><h3>@item.ChuDe</h3></div>
                                                <div class="tab_text">
                                                    <p>@Html.Raw(@item.Content)</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 tab_col">
                                            <div class="tab_panel_image"><img src="@item.Image" alt=""></div>
                                        </div>
                                    </div>
                                </div>


                            }

                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
