@model PagedList.IPagedList<Models.Entities.LoaiVeForView>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <style>
            .blueText {
                color: royalblue;
            }

            .    {
                width: 400px;
                height: 32px;
            }

            .content {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3; /* number of lines to show */
                line-height: 1.4em; /* fallback */
                max-height: 4.2em; /* cái này phải = line-height x 2 */
            }
        </style>

        <div class="card shadow mb-4">
            <div class="card-header py-3">

                @using (Html.BeginForm("Index", "LoaiVe", FormMethod.Get))
                {
                    <div class="card border-left-primary">
                        <div class="card-body">
                            <div class="row m-xl-4">
                                <div class="col-md-1">
                                    <b class="blueText">Tên hội thảo</b>
                                </div>
                                <div class="col-sm-4">
                                    @Html.DropDownList("HoiThaoID", new SelectList(ViewBag.DSHoiThao, "ID", "TenHoiThao"), "--Chọn Hội Thảo--", htmlAttributes: new { @class = "form-control" })
                                </div>

                                <div class="col-md-1">
                                    <b class="blueText">Loại vé</b>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" #seachByName type="text" value="@ViewBag.tenLoaiVe" name="tenLoaiVe" placeholder="Nhập tên loại vé" />
                                </div>


                            </div>
                           
                            <div class="row m-xl-4">
                                <div class="col-md-2">
                                    <button class="btn btn-facebook">Search</button>
                                </div>
                                <div class="col-md-2">
                                    <a href="/Admin/LoaiVe/Index" class="btn btn-facebook">
                                        <span class="icon text-gray-600">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                        <span class="text">Reset</span>
                                    </a>
                                </div>
                            </div>
                            <hr />

                            <div align="right" class="col-lg-10">
                                <a href="/Admin/LoaiVe/Create" class="btn btn-primary btn-icon-split">
                                    <span class="icon text-gray-600">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">Tạo Loại Vé mới</span>
                                </a>
                            </div>
                        </div>
                    </div>

                }
               <br />
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead class="thead-dark">
                                <tr role="row">
                                    <th>Loại vé</th>
                                    <th >
                                        Đơn giá
                                    </th>
                                    <th >
                                        Nội dung
                                    </th>
                                    <th>
                                        Hội thảo
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 68.0063px;">
                                        Created By
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 68.0063px;">
                                        Ngày tạo
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 68.0063px;">
                                        Modified By
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 68.0063px;">
                                        Modified Date
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 68.0063px;">
                                        #
                                    </th>
                                  


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr role="row" class="odd" id="row_@item.ID">

                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.DonGia
                                        </td>
                                        <td>
                                            @Html.Raw(@item.content);
                                        </td>
                                        <td>
                                            @item.TenHoiThao
                                        </td>
                                        <td>
                                            @item.CreatedBy
                                        </td>
                                        <td>
                                            @item.CreatedDate
                                        </td>
                                        <td>
                                            @item.ModifiedBy
                                        </td>
                                        <td>
                                            @item.ModifiedDate
                                        </td>
                                        <td>
                                            <a href="/Admin/LoaiVe/Edit/@item.ID">Sửa</a>
                                        </td>
                                 
                                    </tr>
                                }

                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchingString = ViewBag.SearchingString }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

