@model PagedList.IPagedList<Models.Framework.FeedBack>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Index", "FeedBack", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <input type="text" value="@ViewBag.SearchingString" name="searchingString" ; />
                <button type="submit">Tìm kiếm</button>
            </div>
        </div>
    </div>

}
<div class="row">
    <div class="col-sm-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">

                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    <thead class="thead-dark">
                        <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CreatedDate: activate to sort column ascending" style="width: 68.0063px;">
                                Created date
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending" style="width: 68.0063px;">
                                Email
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 95.0062px;">
                                Họ tên
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 68.0063px;">
                                Trạng thái
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Content: activate to sort column ascending" style="width: 68.0063px;">
                                Mô tả
                            </th>
                      
                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Content: activate to sort column ascending" style="width: 68.0063px;">
                                #
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr role="row" class="odd">
                                <td>
                                    @item.CreatedDate
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Status
                                </td>
                                <td>
                                    @item.Content
                                </td>
                             
                                <td>
                                    <a href="FeedBack/Delete/@item.ID">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            </div>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchingString = ViewBag.SearchingString }))
            </div>
        </div>
